@import '~bootstrap-scss/functions';
@import '~bootstrap-scss/variables';
@import '~bootstrap-scss/vendor/rfs';
@import '~bootstrap-scss/mixins';

// COLORS
$dark-blue: #2c3e4f;
$light-blue: #2d7a86;
$light-gray: #fafafa;
