@import '../../styles/constants.scss';

.music-sheet-detail {
  .menu {
    padding: 10px 20px;
    .go-back {
      .go-back-icon {
        width: 32px;
        height: auto;
        filter: opacity(60%);
        transform: rotate(90deg);
      }
    }

    .colors {
      width: 40%;

      button {
        outline: none;
        border: none;
        background-color: transparent;
      }

      .color {
        width: 20px;
        height: 20px;
        box-shadow: 5px 5px 11px -7px rgba(0, 0, 0, 0.75);
        border-radius: 20px;
      }

      .white {
        background-color: #ffff;
      }

      .sepia {
        background-color: #e2d4af;
      }

      .gray {
        background-color: #c6c6c6;
      }
    }
  }

  .filter {
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 79vh;
    z-index: 900;
  }

  .white {
    background-color: transparent;
  }

  .sepia {
    background-color: #e2d4af;
  }

  .gray {
    background-color: #c6c6c6;
  }

  .document {
    z-index: -1;
  }

  .pagination {
    .text {
      width: 100%;
      color: $dark-blue;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 0;
    }

    button {
      background-color: $light-blue;
      border-radius: 20px;
      color: #ffff;
      border: none;
      padding: 7px 10px;
      min-width: 110px;
      box-shadow: 0px 10px 19px -5px rgba(45, 122, 134, 0.44);
      margin-right: 10px;
      margin-left: 10px;
      font-weight: bold;
      outline: none;
    }

    button:disabled {
      background-color: #9db9c8;
      box-shadow: none;
    }
  }
}
